bleach
certifi
chardet
data-analysis
decorator
entrypoints
future
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
nltk
notebook
numpy
oauthlib
pandas
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
PyQt5
python-dateutil
python-twitter
pytz
pyzmq
qtconsole
requests
requests-oauthlib
simplegeneric
sip
six
SQLAlchemy
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
